<mat-list>

    <mat-list-item [routerLink]="[routes.PROFILE]" routerLinkActive="active" class="navbar__list-item">
        <button mat-menu-item class="drawer__icon-btn" >
            <mat-icon class="menu-icon">people</mat-icon>Profile
        </button>
    </mat-list-item>

    <mat-list-item [routerLink]="[routes.DASHBOARD]" routerLinkActive="active" class="navbar__list-item">
        <button mat-menu-item class="drawer__icon-btn">
            <mat-icon class="menu-icon">home</mat-icon> Dashboard
        </button>
    </mat-list-item>


    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="mat-tree" >

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node">
            {{node.name}}
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" class="mat-tree-nested">
                <div class="mat-tree-node"  matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-tree-icon">shopping_cart</mat-icon>
                    {{node.name}}
                  <button  mat-icon-button >
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                </div>
            <div [class.mat-tree-invisible]="!treeControl.isExpanded(node)"
                role="group">
              <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
    </mat-tree>


 

    <mat-list-item class="navbar__list-item">
        <button mat-menu-item class="drawer__icon-btn" >
            <mat-icon  class="menu-icon">description</mat-icon>Documentation
        </button>
    </mat-list-item>

   <hr class="hr" style="border-top: 0px solid rgb(185, 183, 183); margin-top: 20px;">
    
</mat-list>



  

