<mat-list>
    <mat-list-item [routerLink]="[routes.DASHBOARD]" routerLinkActive="active" class="navbar__list-item">
        <button mat-menu-item class="drawer__icon-btn">
            <mat-icon class="menu-icon">home</mat-icon> Dashboard
        </button>
    </mat-list-item>

    <mat-list-item class="navbar__list-item">
        <button mat-menu-item class="drawer__icon-btn" >
            <mat-icon class="menu-icon">description</mat-icon> Description
        </button>
    </mat-list-item>
</mat-list>
  

