

@import "src/app/styles/colors";
@import "src/app/styles/sizes";
.tab-auth{
    max-width: 400px;
    width: 100%;
    margin: 200px auto;
}

// body{
//     background: $dark-grey;
//     background: radial-gradient(circle, $light-grey 0%, $white 100%);
// }
