
<app-layout>
    <mat-toolbar class="page-header" role="heading">
      <h1>user-add works!!!!</h1>
    </mat-toolbar>

    <!-- <button mat-raised-button class="success" style="background-color: #3cd4a0; margin-right: 10px;" (click)="onSuccess()">Success</button> -->

    <!-- <button mat-raised-button class="error" style="background-color: #ff4081; margin-right: 10px" (click)="onError()">Error</button> -->

    <!-- <button mat-raised-button class="info" style="background-color: #63d8ff; margin-right: 10px" (click)="onInfo()">Info</button> -->
</app-layout>
